{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  // 0 Means ignore
  // 1 Means warning
  // 2 Means error
  "rules": {
    "prettier/prettier": 2,
    "no-unused-vars": 2,
    "@typescript-eslint/no-unused-vars": 2,    
    "no-var":2,
    "no-empty-function":0,
    "@typescript-eslint/no-empty-function":0,
    "no-case-declarations":0, //Review this by setting it to 1 and seeing errors
    "prefer-const": 0,
    "no-console": 0,
    "no-restricted-syntax": [
      "error",
      {
        "selector": "CallExpression[callee.name='validateJsonSchema'][arguments.length!=3]",
        "message": "We don't want to commit validateJsonSchema(*,*,*,true)😎"
      },
      {
        "selector": "CallExpression[callee.property.name='only']",
        "message": "We don't want to leave .only on our tests😱"
      }
    ]       
  }
}